<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="false">

	<display-name>webapp2</display-name>
	<description>Web application created as 13th homework</description>

	<servlet>
		<servlet-name>powers</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.PowersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>powers</servlet-name>
		<url-pattern>/powers</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>reportImage</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.ReportImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reportImage</servlet-name>
		<url-pattern>/reportImage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>setColor</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.SetColorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>setColor</servlet-name>
		<url-pattern>/setColor</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>trigonometric</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.TrigonometricServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>trigonometric</servlet-name>
		<url-pattern>/trigonometric</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>glasanje</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.glasanje.GlasanjeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>glasanje</servlet-name>
		<url-pattern>/glasanje</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>glasanje-glasaj</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.glasanje.GlasanjeGlasajServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>glasanje-glasaj</servlet-name>
		<url-pattern>/glasanje-glasaj</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>glasanje-grafika</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.glasanje.GlasanjeGrafikaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>glasanje-grafika</servlet-name>
		<url-pattern>/glasanje-grafika</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>glasanje-rezultati</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.glasanje.GlasanjeRezultatiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>glasanje-rezultati</servlet-name>
		<url-pattern>/glasanje-rezultati</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>glasanje-xls</servlet-name>
		<servlet-class>hr.fer.zemris.java.hw13.servlets.glasanje.GlasanjeXLSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>glasanje-xls</servlet-name>
		<url-pattern>/glasanje-xls</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>hr.fer.zemris.java.hw13.listeners.AppInfoListener</listener-class>
	</listener>

</web-app>
